ion-header{
  ion-toolbar{
    --background: #475a68;

    img {
      height: 42px;
      margin: 7px;
    }

    ion-button{
      --padding-start: 5px;
      --padding-end: 5px;

      width: 35px;
      height: 35px;

      ion-icon{
        color: white;
      }
    }

    ion-menu-button{
      color: white;
    }
  }
}

ion-content{
  --background: #080e17 url(../../assets/imgs/recipe-bg.jpg) center bottom no-repeat;

  .main-content{
    padding-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
  
    .home-banner{
      text-align: center;
      
      h1{
        font-size: 18px;
        margin-top: 0;
        color: white;
        font-weight: bold;
      }
    }
  }

  .list{
    .list-item{
      background: linear-gradient(135deg, rgba(255, 80, 48, 1) 0, rgba(221, 36, 118, 1) 51%, rgba(221, 36, 118, 1) 100%);
      color: white;
      padding: 10px;
      margin-bottom: 10px;

      h2{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 4px;
      }
    }
  }
}

ion-footer{
  ion-toolbar{
    --background: #475a68;
    --min-height: 30px;

    text-align: center;
    color: white;
    font-size: 10px;
  }
}