<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="../assets/imgs/logo-new.png" />
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button href="/home">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="restaurant"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="pie-chart"></ion-icon>
      </ion-button>
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-content">
    <div class="home-banner">
      <h1>NUTRITION</h1>
      <h3>Diet plan according to Calories</h3>
    </div>

    <ion-list>
      <ion-item lines="none" detail *ngFor="let item of items" routerLink="{{item.route}}" style="--background: {{item.background}}">
        <ion-label>
          <h2>{{item.title}}</h2>
          <h4>{{item.description}}</h4>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <span>2020 ALL RIGHTS RESERVED</span>
  </ion-toolbar>
</ion-footer>
