<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="../assets/imgs/logo-new.png" />
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button href="/home">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="restaurant"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="pie-chart" ></ion-icon>
      </ion-button>
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main-content">
    <div class="home-banner">
      <h1>Terms of Use</h1>
    </div>
    <div class="landing-link">
      <div class="term-item" *ngFor="let item of term_datas;">
        <h1 *ngIf="item.title!=''">{{item.title}}</h1>
        <p>{{item.value}}</p>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <span>2020 ALL RIGHTS RESERVED</span>
  </ion-toolbar>
</ion-footer>
